@media screen and (min-width: 1025px) {
    body{
      height: 100%;
      width: 100%;
      background-image: url("fondo.jpg");
      font-family: "Spectral", serif;
      font-weight: 200;
      font-style: normal;
      min-height: 500px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
}
@media screen and (max-width: 1024px) {
    body{
      background-image: url("fondo.jpg");
      font-family: "Spectral", serif;
      font-weight: 200;
      font-style: normal;
      min-height: 500px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
}  